@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="row">
    <!-- page header -->
    <div class="col-lg-12">
        <h1 class="page-header">Registration Form</h1>
    </div>
    <!--end page header -->
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Please Fill All Details Carefully
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-lg-6 ">
                        <label>Member Name</label>
                        <input id="memberName" class="form-control">
                        @*<p class="help-block">Example block-level help text here.</p>*@
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Father's Name'</label>
                        <input id="fathersName" class="form-control" placeholder="Enter text">
                    </div>
                    <div class="form-group col-lg-6 ">
                        <label>Mobile Number</label>
                        <input maxlength="10" id="mobileNumber" class="form-control">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Email</label>
                        <input id="emailAddress" type="email" class="form-control" placeholder="Enter text">
                    </div>

                    <div class="form-group col-lg-6 ">
                        <label>Aadhar Numar</label>
                        <input maxlength="12" id="aadharNumber" class="form-control">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Date Of Birth</label>
                        <input id="dateOfBirth" type="date" class="form-control">
                    </div>

                    @*<div class="form-group">
                    <label>Selects</label>
                    <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                    </div>*@

                </div>
                <div class="panel-footer">
                    <button type="submit" id="SubmitButton" class="btn btn-primary">Submit</button>

                </div>
            </div>
        </div>
        <!-- End Form Elements -->
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {


            $("#SubmitButton").click(function () {
                var vals = {
                    "Fld_MemberName": $("#memberName").val(),
                    "Fld_FatherName": $("#fathersName").val(),
                    "Fld_DOB": $("#dateOfBirth").val(),
                    "Fld_MemberType": $("#memberType").val(),
                    "Fld_MobileNumber": $("#mobileNumber").val(),
                    "Fld_EmailAddress": $("#emailAddress").val(),
                    "Fld_AadharNumber": $("#aadharNumber").val(),

                }

                console.log(vals);
                $.ajax({
                    type: 'Post',
                    data: JSON.stringify(vals),
                    url: "/api/MasterApi/AddMember",
                    contentType: "application/json",
                    success: function (response) {
                        console.log(response);
                        if (response.fld_Status == 1) {
                            alert(`Member Successfully Created: Membership${response.fld_MembershipNumber}`);
                            window.location.reload();
                        }
                        else {
                            alert("Please Contact to Developer");
                        }

                    },
                    Error: function (e) {
                        console.log(e);
                    },

                });
            });

        });
    </script>
}

